<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.internet.shop.controllers.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>inject data</servlet-name>
        <servlet-class>com.internet.shop.controllers.InjectDataController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inject data</servlet-name>
        <url-pattern>/inject/data</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>All users</servlet-name>
        <servlet-class>com.internet.shop.controllers.user.UsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>All users</servlet-name>
        <url-pattern>/users/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.internet.shop.controllers.user.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete user</servlet-name>
        <servlet-class>com.internet.shop.controllers.user.DeleteUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete user</servlet-name>
        <url-pattern>/users/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>add products</servlet-name>
        <servlet-class>com.internet.shop.controllers.product.AddProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add products</servlet-name>
        <url-pattern>/products/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>All products</servlet-name>
        <servlet-class>com.internet.shop.controllers.product.UserProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>All products</servlet-name>
        <url-pattern>/products/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Add to shopping cart</servlet-name>
        <servlet-class>com.internet.shop.controllers.cart.AddProductToShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add to shopping cart</servlet-name>
        <url-pattern>/shopping-carts/products/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>All products in shopping cart</servlet-name>
        <servlet-class>com.internet.shop.controllers.cart.ShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>All products in shopping cart</servlet-name>
        <url-pattern>/shopping-carts/products</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Delete product from shopping cart</servlet-name>
        <servlet-class>com.internet.shop.controllers.cart.DeleteProductFromShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete product from shopping cart</servlet-name>
        <url-pattern>/shopping-carts/products/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Complete order</servlet-name>
        <servlet-class>com.internet.shop.controllers.order.CompleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Complete order</servlet-name>
        <url-pattern>/orders/complete-order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>User order</servlet-name>
        <servlet-class>com.internet.shop.controllers.order.GetUserOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User order</servlet-name>
        <url-pattern>/user/orders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>User-admin order</servlet-name>
        <servlet-class>com.internet.shop.controllers.order.ManageOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User-admin order</servlet-name>
        <url-pattern>/admin/orders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Delete order</servlet-name>
        <servlet-class>com.internet.shop.controllers.order.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete order</servlet-name>
        <url-pattern>/orders/admin/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Manage product</servlet-name>
        <servlet-class>com.internet.shop.controllers.product.ManageProductsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Manage product</servlet-name>
        <url-pattern>/admin/products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Delete product</servlet-name>
        <servlet-class>com.internet.shop.controllers.product.DeleteProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete product</servlet-name>
        <url-pattern>/products/admin/delete</url-pattern>
    </servlet-mapping>

</web-app>
